# Accessing Values of Tuples

In [1]:
import pandas as pd
df = pd.read_csv('bicycle.csv')
df.head()

C:\Users\Karan.Arya\AppData\Local\Continuum\anaconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date-Time,Date,Unnamed: 2,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,10/3/2012 00:00,10/3/2012,NaN,9.0,4.0
1,10/3/2012 01:00,10/3/2012,NaN,6.0,4.0
2,10/3/2012 02:00,10/3/2012,NaN,1.0,1.0
3,10/3/2012 03:00,10/3/2012,NaN,3.0,2.0
4,10/3/2012 04:00,10/3/2012,NaN,1.0,6.0

In [2]:
Fremont_East_Average = df['Fremont Bridge East Sidewalk'].mean()
Fremont_West_Average = df['Fremont Bridge West Sidewalk'].mean()
answer = (Fremont_East_Average, ) + (Fremont_West_Average, )
answer

(57.16287899835158, 54.41656942823804)

In [3]:
answer[0]

57.16287899835158

In [4]:
answer[1]

54.41656942823804