# Accessing Index and Values of Series

In [22]:
import pandas as pd
df = pd.read_csv('bicycle.csv')
df.head()

C:\Users\Karan.Arya\AppData\Local\Continuum\anaconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date-Time,Date,Unnamed: 2,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,10/3/2012 00:00,10/3/2012,NaN,9.0,4.0
1,10/3/2012 01:00,10/3/2012,NaN,6.0,4.0
2,10/3/2012 02:00,10/3/2012,NaN,1.0,1.0
3,10/3/2012 03:00,10/3/2012,NaN,3.0,2.0
4,10/3/2012 04:00,10/3/2012,NaN,1.0,6.0

In [23]:
Fremont_East_West_Average = df.iloc[:, 3:5].mean(axis = 1)
Fremont_East_West_Average

0            6.5
1            5.0
2            1.0
3            2.5
4            3.5
5           15.5
6           77.5
7          176.0
8          218.5
9          138.0
10          59.0
11          21.0
12          38.0
13          45.0
14          64.0
15          82.0
16         157.5
17         291.5
18         190.0
19          64.0
20          40.0
21          31.5
22          24.5
23           8.5
24           9.0
25           1.5
26           4.5
27           1.5
28           4.0
29          13.0
           ...
1048545      NaN
1048546      NaN
1048547      NaN
1048548      NaN
1048549      NaN
1048550      NaN
1048551      NaN
1048552      NaN
1048553      NaN
1048554      NaN
1048555      NaN
1048556      NaN
1048557      NaN
1048558      NaN
1048559      NaN
1048560      NaN
1048561      NaN
1048562      NaN
1048563      NaN
1048564      NaN
1048565      NaN
1048566      NaN
1048567      NaN
1048568      NaN
1048569      NaN
1048570      NaN
1048571      NaN
1048572      NaN
1048573      NaN
1048574      NaN
Length: 1048575, dtype: float64

In [24]:
type(Fremont_East_West_Average)

pandas.core.series.Series

## Accessing Index of Series

In [25]:
Fremont_East_West_Average.index[0]

0

## Accessing Value of Series

In [26]:
Fremont_East_West_Average[0]

6.5