# Average of Rows

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('bicycle.csv')
df.head()

C:\Users\Karan.Arya\AppData\Local\Continuum\anaconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date-Time,Date,Unnamed: 2,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,10/3/2012 00:00,10/3/2012,NaN,9.0,4.0
1,10/3/2012 01:00,10/3/2012,NaN,6.0,4.0
2,10/3/2012 02:00,10/3/2012,NaN,1.0,1.0
3,10/3/2012 03:00,10/3/2012,NaN,3.0,2.0
4,10/3/2012 04:00,10/3/2012,NaN,1.0,6.0

In [8]:
df['Average'] = df.iloc[:, 3:5].mean(axis = 1)
df['Average'].sort_values(ascending = False)

31577      478.5
31385      476.0
14273      473.0
14105      462.5
49409      462.0
14129      461.5
31409      460.5
40625      456.5
49217      453.5
51233      453.0
49193      451.5
50897      445.5
50729      444.5
31745      444.5
14168      439.5
16625      438.5
14081      438.0
40649      437.0
48713      437.0
50057      436.5
31601      436.5
48905      435.5
50873      435.5
49049      434.5
49385      434.0
34913      434.0
48929      432.5
31553      432.0
13961      429.0
49865      428.5
           ...
1048545      NaN
1048546      NaN
1048547      NaN
1048548      NaN
1048549      NaN
1048550      NaN
1048551      NaN
1048552      NaN
1048553      NaN
1048554      NaN
1048555      NaN
1048556      NaN
1048557      NaN
1048558      NaN
1048559      NaN
1048560      NaN
1048561      NaN
1048562      NaN
1048563      NaN
1048564      NaN
1048565      NaN
1048566      NaN
1048567      NaN
1048568      NaN
1048569      NaN
1048570      NaN
1048571      NaN
1048572      NaN
1048573      NaN
1048574      NaN
Name: Average, Length: 1048575, dtype: float64