# Convert Sklearn Dataset to Pandas Dataframe

In [11]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

## Save Sklearn Dataset

In [12]:
iris = load_iris()

## To Check Dataset Type

In [13]:
type(iris)

sklearn.utils.Bunch

## To View List of Attributes

In [14]:
dir(iris)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [15]:
# np.c_ is the numpy concatenate function
# which is used to concat iris['data'] and iris['target'] arrays 
# for pandas column argument: concat iris['feature_names'] list
# and string list (in this case one string); you can make this anything you'd like..  
# the original dataset would probably call this ['Species']

data1 = pd.DataFrame(data = np.c_[iris['data'], iris['target']], columns = iris['feature_names'] + ['target'])

In [16]:
data1.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [17]:
type(data1)

pandas.core.frame.DataFrame

This way one can convert a Sklearn dataset to a Pandas dataframe.