# Remove Digits from String Items

In [30]:
import pandas as pd

In [31]:
df = pd.read_excel('Energy Indicators.xls')
df = df.iloc[16:243]
df.head()

,Unnamed: 0,Unnamed: 1,Environmental Indicators: Energy,Unnamed: 3,Unnamed: 4,Unnamed: 5
16,NaN,Afghanistan,Afghanistan,321,10,78.6693
17,NaN,Albania,Albania,102,35,100
18,NaN,Algeria,Algeria,1959,51,0.55101
19,NaN,American Samoa,American Samoa,...,...,0.641026
20,NaN,Andorra,Andorra,9,121,88.6957

In [32]:
df.iloc[11]

Unnamed: 0                                 NaN
Unnamed: 1                           Australia
Environmental Indicators: Energy    Australia1
Unnamed: 3                                5386
Unnamed: 4                                 231
Unnamed: 5                             11.8108
Name: 27, dtype: object

In [33]:
df['Environmental Indicators: Energy'] = df['Environmental Indicators: Energy'].str.replace('\d+', '')

In [34]:
df.iloc[11]

Unnamed: 0                                NaN
Unnamed: 1                          Australia
Environmental Indicators: Energy    Australia
Unnamed: 3                               5386
Unnamed: 4                                231
Unnamed: 5                            11.8108
Name: 27, dtype: object

### `Australia1` has been renamed to `Australia`