# Rename Column Headers

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('bicycle.csv')

C:\Users\Karan.Arya\AppData\Local\Continuum\anaconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
df.head()

,Date-Time,Date,Unnamed: 2,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,10/3/2012 00:00,10/3/2012,NaN,9.0,4.0
1,10/3/2012 01:00,10/3/2012,NaN,6.0,4.0
2,10/3/2012 02:00,10/3/2012,NaN,1.0,1.0
3,10/3/2012 03:00,10/3/2012,NaN,3.0,2.0
4,10/3/2012 04:00,10/3/2012,NaN,1.0,6.0

## Method 1

In [21]:
df.columns = ['Date and Time', 'Date Only', 'Null', 'Fremont East', 'Fremont Wast']

In [22]:
df.head()

     Date and Time  Date Only  Null  Fremont East  Fremont Wast
0  10/3/2012 00:00  10/3/2012   NaN           9.0           4.0
1  10/3/2012 01:00  10/3/2012   NaN           6.0           4.0
2  10/3/2012 02:00  10/3/2012   NaN           1.0           1.0
3  10/3/2012 03:00  10/3/2012   NaN           3.0           2.0
4  10/3/2012 04:00  10/3/2012   NaN           1.0           6.0

## Method 2

In [23]:
df = pd.read_csv('bicycle.csv')
df.rename(index = str, columns = {'Date-Time': 'Date and Time'})
df.head()

C:\Users\Karan.Arya\AppData\Local\Continuum\anaconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date-Time,Date,Unnamed: 2,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,10/3/2012 00:00,10/3/2012,NaN,9.0,4.0
1,10/3/2012 01:00,10/3/2012,NaN,6.0,4.0
2,10/3/2012 02:00,10/3/2012,NaN,1.0,1.0
3,10/3/2012 03:00,10/3/2012,NaN,3.0,2.0
4,10/3/2012 04:00,10/3/2012,NaN,1.0,6.0